@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar">
    <a class="navbar-brand" href="#">
        <img id="theLogo" src="~/images/tsg2.png" width="430" height="90" alt="TSG IT Advanced Systems Ltd." title="TSG IT Advanced Systems Ltd.">
    </a>
</nav>

<div class="container">
    <div class="row text-center">
        <div class="col-4" id="form-div">
            <h3>When is your free time??</h3>
            <form>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Start Time</label>
                    <input class="form-control" list="ice-cream-flavors1" name="ice-cream-choice" />

                    <datalist id="ice-cream-flavors1">
                        <option value="Chocolate"></option>
                        <option value="Coconut"></option>
                        <option value="Mint"></option>
                        <option value="Strawberry"></option>
                        <option value="Vanilla"></option>
                    </datalist>
                </div>
                <div class="form-group">
                    <label>End Time</label>
                    <input class="form-control" list="ice-cream-flavors2" name="ice-cream-choice" />

                    <datalist id="ice-cream-flavors2">
                        <option value="Chocolate"></option>
                        <option value="Coconut"></option>
                        <option value="Mint"></option>
                        <option value="Strawberry"></option>
                        <option value="Vanilla"></option>
                    </datalist>
                </div>

                <div id="buttons">
                    <button class="btn yellow">Add</button>
                    <span class="shadow"></span>

                    <button class="btn blue">Show calender</button>
                    <span class="shadow"></span>
                </div>

            </form>
        
        </div>
        <div class="col-1"></div>
        <div class="col-7">
            <table>
                <thead>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                 <td>4</td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
