@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar">
    <a class="navbar-brand" href="#">
        <img id="theLogo" src="~/images/tsg2.png" width="430" height="90" alt="TSG IT Advanced Systems Ltd." title="TSG IT Advanced Systems Ltd.">
    </a>
</nav>

<div class="container">
    <div class="row text-center">
        <div class="col-4" id="form-div">
            <h3>When is your free time??</h3>
            <form>
                <div class="form-group">
                    <label>Name</label>
                    <input id="name" type="text" class="form-control" required />
                    <p id="error-name"></p>
                </div>
                <div class="form-group">
                    <label>Start Time</label>
                    <input id="startTime" class="form-control" list="startTimes" required />
                    <p id="error-startTime"></p>
                    <datalist id="startTimes"></datalist>
                </div>
                <div class="form-group">
                    <label>End Time</label>
                    <input id="endTime" class="form-control" list="endTimes" required />
                    <p id="error-endTime"></p>
                    <datalist id="endTimes"></datalist>
                </div>
                <p id="error-validation"></p>
                <div id="buttons">
                    <button id="add-btn" class="btn yellow">Add</button>
                    <span class="shadow"></span>

                    <button id="show-btn" class="btn blue">Show calender</button>
                    <span class="shadow"></span>
                </div>

            </form>
        
        </div>
        <div class="col-1"></div>
        <div class="col-8 col-lg-7">
            <table id="diary-tbl">
                <thead>
                <tr>
                   
                </tr>
                </thead>
                <tbody>
                <tr>
                 
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
